bin/Debug/net9.0/MonoGame.Framework.dll
bin/Debug/net9.0/NVorbis.dll
bin/Debug/net9.0/yur.dll
bin/Debug/net9.0/yur.pdb
bin/Debug/net9.0/Content/MyFont.xnb
bin/Debug/net9.0/runtimes/android-arm/native/libopenal.so
bin/Debug/net9.0/runtimes/android-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-arm/native/libopenal.so
bin/Debug/net9.0/runtimes/android-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x86/native/libopenal.so
bin/Debug/net9.0/runtimes/ios-arm64/native/libopenal.a
bin/Debug/net9.0/runtimes/iossimulator-arm64/native/libopenal.a
bin/Debug/net9.0/runtimes/iossimulator-x64/native/libopenal.a
bin/Debug/net9.0/runtimes/linux-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/linux-x64/native/libopenal.so
bin/Debug/net9.0/runtimes/linux-x64/native/libSDL2-2.0.so.0
bin/Debug/net9.0/runtimes/osx/native/libopenal.dylib
bin/Debug/net9.0/runtimes/osx/native/libSDL2-2.0.0.dylib
bin/Debug/net9.0/runtimes/win-x64/native/openal.dll
bin/Debug/net9.0/runtimes/win-x64/native/SDL2.dll
bin/Debug/net9.0/runtimes/android-arm/native/libopenal.so
bin/Debug/net9.0/runtimes/android-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x86/native/libopenal.so
bin/Debug/net9.0/runtimes/ios-arm64/native/libopenal.a
bin/Debug/net9.0/runtimes/iossimulator-arm64/native/libopenal.a
bin/Debug/net9.0/runtimes/iossimulator-x64/native/libopenal.a
bin/Debug/net9.0/runtimes/linux-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/linux-x64/native/libopenal.so
bin/Debug/net9.0/runtimes/linux-x64/native/libSDL2-2.0.so.0
bin/Debug/net9.0/runtimes/osx/native/libopenal.dylib
bin/Debug/net9.0/runtimes/osx/native/libSDL2-2.0.0.dylib
bin/Debug/net9.0/runtimes/win-x64/native/openal.dll
bin/Debug/net9.0/runtimes/win-x64/native/SDL2.dll
bin/Debug/net9.0/runtimes/android-arm/native/libopenal.so
bin/Debug/net9.0/runtimes/android-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x64/native/libopenal.so
bin/Debug/net9.0/runtimes/android-x86/native/libopenal.so
bin/Debug/net9.0/runtimes/ios-arm64/native/libopenal.a
bin/Debug/net9.0/runtimes/iossimulator-arm64/native/libopenal.a
bin/Debug/net9.0/runtimes/iossimulator-x64/native/libopenal.a
bin/Debug/net9.0/runtimes/linux-arm64/native/libopenal.so
bin/Debug/net9.0/runtimes/linux-x64/native/libopenal.so
